@charset "utf-8";

/* BASE Style */
body {
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}
/* 
grid
 */
 .grid {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.grid-item {
  list-style: none;
}
.grid-col-2 > grid-item {
  width: 50%;
}
.grid-col-3 > grid-item {
  width: 33.3%;
}
.grid-col-4 > grid-item {
  width: 25px;
}
/*
 section
  */
.section {
  paddiong: 30px 15px;
}
.section.section-secounday {
  background: #efefef;
}
.section-headline{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 40px;

}
/*
 about
  */
.about{
margin: 0;
display: flex;
}
/* .about-image{} */
.about-caption{
  padding-left: 15px;
}
.about-headline{
  margin: 0 0 20px;
  font-size: 30px;
}

/* 
future
 */
.future {
  text-align: center;
  padding: 0 15px;
}
.future-headline {
  font-weight: bold;
  margin: 0 0 20px;
}
  
.future-img {
  margin: 0 0 20px;
}
.future-description {
  margin: 0;
  text-align: left;
}

/* 
card 
*/
.card {
  padding: 0 10px;
}
.card-link {
  display: block;
  color: #333;
  text-decoration: none;
  position: relative;
  transition: background-color .25s;
}
.card-link:hover {
  background-color: #eee;
}
.card-label {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #999;
  color: #fff;
  display: block;
  padding: 5px 10px;
  font-size: 12px;
}
.card-image {
  width: 100%;
  height: auto;
}
.card-info {
  padding: 5px 10px;
}
.card-headline {
  margin: 0;
}
.card-description {
  margin: 0;
}
/*
 avotor
 */
.avator {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  padding: 10px;
}
.avator-name {
  font-weight: bold;
  padding-left: 15px;
}
.avator-image {
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
}